.card {
    display: grid;
    top: 10%;
    left: 0;
}

.cardDetails {
    display: grid;
    grid-template-columns: 230px repeat(3, 1fr);
}

.container {
    background: rgba(255, 238, 238, .75);
    transform: skewY(-11deg);
    padding: 16px;
    padding-bottom: 36px;
}

.content {
    width: max-content;
}

@media(min-width: 1023px) {
    .cardDetails {
        grid-template-columns: 320px repeat(3,1fr);
    }
}