.wrapper {
    min-height: 15rem;
    align-content: center;
    justify-items: center;
}

.nume {
    outline: none;
    color: #FFEEEE;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid #BA2525;
}

.nume:after {
    content: '';
    height: 30%;
    width: 3px;
    display: block;
    transition: all 0.3s ease-out;
    background-color: #D64545;
}

.textarea {
    height: 250px;
    width: 100%;
    resize: none;
    padding: 24px;
    outline: none;
    border: 1px solid #A61B1B;
    color: #FFEEEE;
    font-size: 1.2rem;
}

@media (max-width: 670px) {
    .wrapper {
        min-height: 10rem;
    }

    .textarea {
        font-size: 0.9rem;
        height: 150px;
    }
}