.section {
    border-top: 3px solid #BA2525;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 8rem;
    width: max-content;
    margin: 0 auto;
}

.date {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 3rem;
}

.icon {
    position: absolute;
    top: 13rem;
    left: -5.3rem;
    height: 360px;
    width: 360px;
}

.name {
    position: relative;
    width: max-content;
}

.name:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 70%;
    height: 4px;
    background: #FFEEEE;
}

@media (max-width: 1024px) {
    .wrapper {
        column-gap: 3rem;
    }

    .icon {
        width: 281px;
        height: 281px;
        left: -4.3rem;
        top: 8rem;
    }
}

@media (max-width: 800px) {
    .wrapper {
        display: block;
    }

    .date {
        justify-content: center;
    }

    .margin {
        margin-bottom: 4rem;
    }
}

@media (max-width: 670px) {
    .icon {
        width: 181px;
        height: 181px;
        left: -3.3rem;
    }
}

@media (max-width: 420px) {
    .icon {
        display: none;
    }
}