.wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
}

li:last-of-type {
    margin-bottom: 0;
}

.headers {
    border-right: 4px solid #F29B9B;
    min-height: 620px;
    display: grid;
}

.select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.select:focus,
.select:active {
    outline: none;
}

@media (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .headers {
        border-bottom: 2px solid #E66A6A;
        border-right: none;
    }
}
