.container {
    max-width: 50vw;
    position: sticky;
    top: 60px;
    align-self: start;
}

.row {
    grid-template-columns: 20px 1fr min-content;
}

.header {
    grid-template-columns: 1fr min-content;
}

.content {
    max-height: 400px;
    overflow-y: auto;
}