.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr min-content;
    background: linear-gradient(180deg, rgba(171, 219, 94,0.5) 0%, rgba(199, 234, 143,0.7) 75%, rgba(255, 255, 255,1) 100%);
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
}

.copyright {
    height: min-content;
    align-self: end;
    justify-self: end;
}
