.card {
    display: grid;
    background: linear-gradient(0deg, #FACDCD 65%, transparent 100%);
}

.cardDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 36px;
    padding-top: 78px;
}

.button {
    color: white;
}

.header {
    cursor: pointer;
    width: max-content;
}

.header:after {
    content: '';
    position: absolute;
    left: 0;
    width: 40%;
    height: 2px;
    display: block;
    margin-top: 10px;
    transition: all 0.5s ease-out;
    background-color: #27241D;
}

.header:hover:after {
    width: 100%;
}

.input {
    background: transparent;
    line-height: normal;
    border-bottom: 1px dashed #27241D;;
}

.input:focus {
    outline: 0;
}

.textarea {
    resize: none;
    width: 100px;
    height: 100px;
}

/* animations */

.contact-card-appear {
    opacity: 0;
    z-index: 1;
}

.contact-card-appear.contact-card-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.contact-card-enter {
    opacity: 0;
    z-index: 1;
}

.contact-card-enter.contact-card-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.contact-card-exit {
    opacity: 1;
}

.contact-card-exit.contact-card-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.contact-card-exit-done {
    opacity: 0;
}