.card {
    display: grid;
}

.cardDetails {
    display: grid;
    grid-template-columns: 280px repeat(3, 1fr);
}

.container {
    background: rgba(255, 238, 238, .9);
    transform: skewY(-11deg);
    padding: 16px;
    padding-bottom: 36px;
}

.content {
    width: max-content;
}