.card {
    display: grid;
    background: linear-gradient(0deg, rgba(255, 238, 238, .94) 20%, rgba(255, 238, 238, .94) 75%, transparent 100%);
}

.cardDetails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container {
    transform: skewY(-11deg);
}

.content {
    width: max-content;
}