.sideDrawer {
    height: 100vh;
    display: grid;
    align-items: center;
    transition: transform 0.3s ease-out;
}

.open {
    transform: translateX(0);
}

.closed {
    transform: translateX(-100%);
}