.wrapper {
    background: #FFEEEE;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 55vw;
}

.wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0px 0px 10px 2px rgba(43,64,5,0.5);
	background-color: #FFEEEE;
}

.wrapper::-webkit-scrollbar
{
	width: 13px;
	background-color: #FFEEEE;
}

.wrapper::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(66, 96, 12, 0.7);
}

.wrapper::-webkit-scrollbar-thumb:hover
{
	background-color: rgba(66, 96, 12, 0.6);
}

.modal {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.close {
    width: 18px;
    height: 18px;
    opacity: 1;
    display: grid;
}

.close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.close:before, .close:after {
    grid-column: 1;
    grid-row: 1;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #A61B1B;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

@media(max-width: 1023px) {
    .wrapper {
        width: 80vw;
        max-width: 80vw;
    }
}

@media(max-width: 670px) {
    .wrapper {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .modal {
        max-height: 81vh;
    }
}