.container {
    display: grid;
    row-gap: 30px;
}

.header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.list {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: start;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 400px)) max-content;
}