.button {
    border-radius: 50%;
    border: 1px solid #BA2525;
    background: rgba(250, 205, 205, 0.8);
    grid-column: 3/-1;
}

.navigation {
    display: grid;
    grid-template-columns: max-content 1fr;
}