.section {
    border-top: 3px solid #BA2525;
    min-height: 565px;
    display: grid;
}

.chestionar {
    grid-column: 1;
    grid-row: 1;
}

.buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
}

.button {
    border: 2px solid #BA2525;
    padding: 12px 24px;
    color: #FFEEEE;
    cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.button:hover {
    background: #BA2525;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.submit {
    border: 2px solid #FFEEEE;
    padding: 12px 24px;
    color: #FFEEEE;
    background: #BA2525;
    cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.submit:hover {
    background: #D64545;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.inapoi {
    grid-column: 1;
}

.inainte {
    grid-column: 2;
}

@media (max-width: 670px) {
    .section {
        min-height: initial;
    }

    .button {
        padding: 10px 20px;
    }
}
