body, html {
    margin: 0;
    padding: 0;
    background: #FFEEEE;
    /* overflow-y: auto; */
}

.slick-track {
    width: 100% !important;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0px 0px 10px 2px rgba(120, 10, 10, 0.7);
	background-color: #FFEEEE;
}

::-webkit-scrollbar
{
	width: 13px;
	background-color: #FFEEEE;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(120, 10, 10, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 10, 10, 0.5);
}