@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1,
.h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

h2,
.h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

h3,
.h3,
.p,
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.caption {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.small {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.medium-font {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.big-font {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.huge-font {
    font-weight: 300;
    font-size: 56px;
    line-height: 60px;
}

.bold {
    font-weight: 700 !important;
}

.semibold {
    font-weight: 500 !important;
}

.normal-weight {
    font-weight: 300 !important;
}